# PR 8.1 en 8.2

Van Pjotr en Sennen

Hierin maken we de opdrachten 8.1 en 8.2. We hebben de opdrachten samen gemaakt en hebben de code ook samen geschreven. We hebben de code in een notebook gezet en de code is uitgevoerd in een Jupyter Notebook.

De opdracht van deze week is:

### PR8-1: Regressiemodellen in Machine Learning.
Great Outdoors wil graag weten hoeveel zij gaat verkopen op basis van een set onafhankelijke variabelen. Daarom wil zij een model trainen op basis van reeds bekende data, zodat deze volgend jaar in gebruik kan worden genomen. Je doet dus het volgende met de reeds bekende data:
- Bedenk met welke onafhankelijke variabelen, die ook uit meerdere databasetabellen kunnen komen, dit naar verwachting het beste voorspeld kan worden en zet deze samen met de afhankelijke variabele in één DataFrame.
- Pas waar nodig Dummy Encoding toe.
- Snijd dit DataFrame horizontaal en verticaal op de juiste manier.
- Train het regressiemodel.
- Evalueer de performance van je getrainde regressiemodel.

Hieronder zullen we de libaries importeren die we nodig hebben voor de opdrachten.

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import sqlite3

In [3]:
conn = sqlite3.connect('data/go_sales.sqlite')
forecast = pd.read_csv('data/GO_SALES_PRODUCT_FORECASTData.csv', sep=',')
details = pd.read_sql(con=conn, sql='SELECT * FROM order_details')
header = pd.read_sql(con=conn, sql='SELECT * FROM order_header')
details
header

,ORDER_NUMBER,RETAILER_NAME,RETAILER_SITE_CODE,RETAILER_CONTACT_CODE,SALES_STAFF_CODE,SALES_BRANCH_CODE,ORDER_DATE,ORDER_METHOD_CODE,TRIAL885
0,1153,Ultra Sports,4,6,50,18,2020-04-14,7,T
1,1154,Ultra Sports,4,6,50,18,2020-10-01,4,T
2,1155,Ultra Sports,5,65,49,18,2020-04-21,7,T
3,1156,Ultra Sports,5,65,49,18,2020-09-09,5,T
4,1157,Ultra Sports,6,66,50,18,2020-04-10,2,T
...,...,...,...,...,...,...,...,...,...
5355,9475,Preben's T°y,338,329,29,15,2020-01-13,4,T
5356,9476,Preben's T°y,336,327,29,15,2021-01-02,5,T
5357,9477,Preben's T°y,338,329,29,15,2021-01-18,2,T
5358,9478,Preben's T°y,336,327,27,15,2022-01-15,7,T
5359,9479,Preben's T°y,338,329,27,15,2022-02-02,5,T

In [4]:
df = pd.merge(header, details, on='ORDER_NUMBER')
df = df.drop(columns=['TRIAL885', 'TRIAL879'])
df

,ORDER_NUMBER,RETAILER_NAME,RETAILER_SITE_CODE,RETAILER_CONTACT_CODE,SALES_STAFF_CODE,SALES_BRANCH_CODE,ORDER_DATE,ORDER_METHOD_CODE,ORDER_DETAIL_CODE,PRODUCT_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE
0,1153,Ultra Sports,4,6,50,18,2020-04-14,7,47747,2,100,9.64,12.53,11.81
1,1153,Ultra Sports,4,6,50,18,2020-04-14,7,47994,32,254,18.25,27.37,25.1
2,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48015,35,114,19.67,26.54,24.82
3,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48022,36,130,21.03,34.9,31.44
4,1153,Ultra Sports,4,6,50,18,2020-04-14,7,48049,39,74,42.33,67.73,61.38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110788,52,64,19,38,33.25
43059,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110816,56,24,9,18,15.75
43060,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110827,57,40,40,80,70
43061,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110914,78,32,79.19,99,94.05
43062,9479,Preben's T°y,338,329,27,15,2022-02-02,5,110948,88,144,2,7,5.75

In [9]:
# Selecteren van onafhankelijke variabelen en afhankelijke variabele
x = df[['PRODUCT_NUMBER', 'QUANTITY', 'UNIT_PRICE', 'UNIT_COST']]
y = df['UNIT_SALE_PRICE']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
model = LinearRegression()
model.fit(X_train, y_train)
train_pred = model.predict(X_train)
test_pred = model.predict(X_test)

### PR8-2: Classificatiemodellen in Machine Learning.

Great Outdoors wil graag weten wat de retourredenen gaan zijn op basis van een set onafhankelijke variabelen. Daarom wil zij een model trainen op basis van reeds bekende data, zodat deze volgend jaar in gebruik kan worden genomen. Let op: de retourreden kan ook "n.v.t." zijn, niet elke order wordt namelijk geretourneerd; je zult dit moeten aanpakken door een join tussen "returned_item" en "order_details". Je doet dus het volgende met de reeds bekende data:
- Bedenk met welke onafhankelijke variabelen dit naar verwachting het beste voorspeld kan worden en zet deze samen met de afhankelijke variabele in één DataFrame.
- Pas waar nodig Dummy Encoding toe.
- Snijd dit DataFrame horizontaal en verticaal op de juiste manier.
- Train het classificatiemodel.
- Evalueer de performance van je getrainde classificatiemodel a.d.h.v. een confusion matrix.